@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-lg-start">
    <h1 class="display-4">Centro de Salud Traslado Seguro</h1>
    <p>Comodidad y rapidez</p>
</div>
<div class="row">
    <div class="col-12">
        <img src="~/img/Transporte4.jpg" class="img-fluid" />
    </div>

</div>